<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Airlines</title>    
    <link href="Content/bootstrap.css" rel="stylesheet" />    
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body ng-app="airlineApp">
    <div class="container" ng-controller="flightsController">
        <h1>Airlines</h1>
        <div class="row">
            <div class="col-md-6" ng-repeat="flight in flights">
                <div class="flightCard">
                    <div>
                        <h3>{{ flight.airline }}</h3>                        
                    </div>                    
                    <div>
                        <span><strong>Price:</strong> {{ flight.price | currency}}</span> <br />
                        <span><strong>Duration:</strong> {{ flight.totalDuration }} hours</span>
                    </div>
                    <div>
                        <span><strong>Start Time:</strong> {{ flight.startTime }} </span> <br />
                        <span><strong>End Time:</strong> {{ flight.endTime }}</span><br /><br/>
                        <ul class="breadcrumb">                            
                            <li>
                                <strong>Cities:</strong>
                            </li>
                            <li ng-repeat="city in flight.cities">
                                {{ city }}
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <span class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            Select
                        </span>
                    </div>
                    <br /><br/>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/jquery-1.9.1.min.js"></script>
    <script src="scripts/angular.js"></script>

    <script src="airlinesApp/airlineApp.js"></script>
    <script src="airlinesApp/controllers/flightsController.js"></script>
</body>
</html>
